:root {
  --primary-text-color: #212121;
  --primary-backround-color: #ffffff;
  --secondary-text-color: #757575;
  --social-icon-color: #afb1b8;
  --backround-color: #e5e5e5;
  --accent-color: #2196f3;
  --secondary-background-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --footer-color: #2f303a;
  --large-font-weight: 900;
  --bold-font-weight: 700;
  --medium-font-weight: 500;
  --title-line-height: 1.17;
  --text-line-height: 1.71;
}
